# APPLICATION
SPRING_APPLICATION_NAME=ResuFit
SPRING_PROFILES_ACTIVE=local
TZ=Asia/Seoul

# DATABASE
MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=resume
MYSQL_USER=resufit
MYSQL_PASSWORD=change-me

# If Spring Boot runs locally, use localhost:3307
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3307/resume?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
SPRING_DATASOURCE_USERNAME=resufit
SPRING_DATASOURCE_PASSWORD=change-me

# If Spring Boot runs inside Docker Compose, use this instead:
# SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/resume?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8

# REDIS
# If Spring Boot runs locally, use localhost
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379

# If Spring Boot runs inside Docker Compose, use this instead:
# SPRING_DATA_REDIS_HOST=redis
# SPRING_DATA_REDIS_PORT=6379

# JWT
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=1800000
JWT_REFRESH_TOKEN_EXPIRATION=1209600000

# OAUTH - GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# OAUTH - KAKAO
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=
